@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>*@

<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
@*<script src="https://cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>*@
<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.15/sorting/datetime-moment.js"></script>

<table id="example" class="display" style="width:100%"></table>

<script>
    $(document).ready(function () {





        //$.fn.dataTable.moment('dddd, MMMM Do, YYYY');
        $.fn.dataTable.moment('HH:mm MMM D, YY');
        $.fn.dataTable.moment('dddd, MMMM Do, YYYY');
        $.get("https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=1h", function (data) {
            //data = data.sort((a, b) => b - a);
            debugger;
            $('#example').DataTable({
                data: data,
                "order": [[0, "desc"]],
                "scrollX": true,
                columns: [
                    { title: "Açılış Zamanı" },
                    { title: "Açılış" },
                    { title: "En yüksek" },
                    { title: "en düşük" },
                    { title: "kapanış" },
                    { title: "hacim" },
                    { title: "kapanış zamanı" }
                ],
                columnDefs: [
                    {
                        "type": "unix", "targets": 0, "render": function (data) {
                            debugger;
                            return moment.utc(data, "x").local().format('DD/MM/YYYY HH:mm:ss')
                        }
                    },
                    {
                        "type": "unix", "targets": 6, "render": function (data) {
                            debugger;
                            return moment.utc(data, "x").local().format('DD/MM/YYYY HH:mm:ss')
                        }
                    }
                ]
            });

        });
    })
</script>